<header class="page-header">
  <div class="row align-middle">
    <div class="columns">
      <h4 class="page-header-title"><%= title %></h4>
    </div>
    <div class="columns medium-3 text-right">
      <%= yield(:header_actions) %>
    </div>
  </div>
</header>
