<%= render "shared/crude/show", resource_name: "Blank", resource: @blank, resource_fields: [:name, :brand] do %>
  <h3>Sides</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <% @blank.sides.each do |side| %>
        <tr>
          <td><%= side.name %></td>
          <td width="15%"><%= image_tag side.attachment_url if side.attachment.exists? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
