/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "foundation_and_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";

dd {
  padding-bottom: $global-padding;
}

.remove-button {
  margin-bottom: 0;
  margin-top: 24px;
}

.small-image {
  max-width: 100px;
  max-height: 100px;
}

.color {
  &-checkbox {
    appearance: none;
  }
  &-box {
    cursor: pointer;
    i {
      border: 1px solid $medium-gray;
    }
  }
}

.bold {
  font-weight: $global-weight-bold;
}
